button {
    background-color:rgb(79, 4, 4);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 150px;
    border-radius: 15px 50px 30px;
    color: white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e1ddc6, 0 0 30px #f4efd2, 0 0 40px #f4e9ad, 0 0 50px #f1e7b0, 0 0 75px #e9e1b5;
             
    
}
.rcorners2{
    border-radius: 15px 50px 30px;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    box-shadow: 20px 5px 3px rgb(169, 166, 166) ;
   border: solid;
   border-color: black;
   transform: scale(1);
    transition: transform 2s;
    
  }
  .rcorners2:hover {
    transform: scale(0.8);
    background-color: rgb(129, 60, 60);
  }

  
  
  a{
    color: white;
   text-decoration: none;
  }
  h5{
    color: gray;
  }
  div{
    background-color:rgb(79, 4, 4) ;
    color: white;
  }

  legend{
    color: rgb(79, 4, 4) ;
  }

  button:hover {
    background-color: rgb(188, 190, 194);
  }

  video{
    border-radius:  35px 30px 30px;
  }

  .fade-in {
    opacity: 0;
    animation: fadein 2s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .fade-out {
    opacity: 1;
    animation: fadeout 2s;
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

  
 




  
 



  
 
