
.banner-area{
    background-color: rgb(113, 10, 10);
    height: 15vh;
}

body{

    margin: 0;
    padding: 0;
}
header{
    padding: 10px 30px;
}
#ww {
    position: fixed;
    transform:translateY(-60%);
    bottom: 0;
    right: 0;
    top: 50%;
    width: 40%;
    height: 50%;
}
.menu{
    width: 45%;
    float: right;
    list-style: none;
}

.menu li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    float: right;
}
.menu li:hover{
    background: none;
}
.menu li:hover a{
    color: rgb(183, 125, 125);
}
.menu li a{
    text-decoration: none;
    font-family: baloo;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.menu1{
    width: 45%;
    float: left;
    list-style: none;
    border-top: 1px solid rgb(255, 255, 255);
}

.menu1 li{
    width: 100px;
    height: 100px;
    line-height: 30px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 13px;
    float: left;
    left: 10;
}
.menu1 li:hover{
    background:none;
}
.menu1 li:hover a{
    color: rgb(183, 125, 125);
}
.menu1 li a{
    text-decoration: none;
    font-family: baloo;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.logo{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-size: 25px;
   font-family: big john; 
   padding: 10px 20px;
   width: 20%;
   float: left;
}

.welcome-text{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-30%);
    color: #333;
    text-align: center;
}
.welcome-text h2{
    font-family: baloo;
    margin: 0;
    color:rgb(113, 10, 10);
    font-size: 55px;
}
.welcome-text p{
    font-family: baloo;
    margin: 0;
    color:rgb(113, 10, 10);
    font-size: 20px;
}
.welcome-text a{
    border: 1px solid rgb(148, 105, 105);
    padding: 10 px 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 20px;
    display: inline-block;
    color: rgb(113, 10, 10);
    font-family: poppins;
    margin: 5%;
}
.welcome-text a:hover{
    border-color:rgb(113, 10, 10) ;
    background: rgb(113, 10, 10);
    color: #333;
    transition: .9s;
}
